{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Crenly</title>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'accounts/css/global-form-styling.css' %}">
   <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}

    <script>
    $(document).ready(function(){
     $("form").submit(function(event){
      event.preventDefault();
      var email = $("#email").val();
      var password = $("#psw1").val();
      var submit =    $("#submit").val();

          if(email==''){
            $("#email").css({"background-color": "transparent", "border-color": "red"});
    }else{
            $("#email").css({"border-color": "green"});
                if(password==''){
                   $(".error_message").html("<p style='' class='error-alert'>Password field is empty</p>");
                  $("#psw1").css({"background-color": "transparent", "border-color": "red"});
    }else{
                $("#psw1").css({"border-color": "green"});
             
       $(".success_message").html("<p style='' class='error-alert'>Please wait...</p>");
$.ajax({

    type: "POST",
    url: window.location.protocol + "//" + window.location.host +"/loging /",
//    contentType: "application/json",
//    dataType: "json",
    data: {       csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                  email : email,
                  password : password,
                  submit : submit
    },
    success: function(response) {
$(".error_message").html(response);

        
    },
    error: function(response) {
 $(".error_message").html("<p class='error-alert' style='text-align:center'>An error occured<p>");
     }       

            
            });



      }
    }




     });   
    });
</script>
</head>
<body>
   <div class="wrapper">
      <section class="section-hero d-none">
          <div class="custom-container">
             <div class="section-hero__content">
                  <div class="logo text-center">
                     <img class="logo-img" src="{% static 'accounts/images/crenly-logo.svg' %}' " alt="crenly logo">
                  </div>
                   <h1 class="heading__title font-weight-bold text-center">Digital Marketing just got easier!</h1>
                   <h3 class="heading__sub-title font-weight-bold text-center">Be Visible. Rank top on Search Engines</h3>
             </div>
          </div>
      </section>
      <section class="section-form">
         <div class="section-form__container">
            <div class="mobile-nav">
               <div class="logo d-none-md">
                  <img class="logo-img" src="{% static 'accounts/images/logo-mobile.svg' %}' " alt="crenly logo">
               </div>
               <div class="text-right">
                  <a class="btn btn-tour font-weight-bold" href="#">Quick Tour</a>
               </div>
            </div>
            <div class="section-form__text">
               <h2 class="text-center font-weight-bold section-form__text-title">Welcome</h2>
               <h4 class="text-center section-form__text-sub-title">Sign in with your social media</h4>
               <ul class="list-unstyled d-flex justify-content-center">
                  <a class="list-link" href="#"><li class="list-item"><img src="{% static 'accounts/images/facebook.svg' %}' %}" alt="facebook logo"></li></a>
                  <a class="list-link" href="#"><li  class="list-item"><img src="{% static 'accounts/images/twitter.svg' %}" alt="twitter logo"></li></a>
                  <a class="list-link" href="#"><li  class="list-item"><img src="{% static 'accounts/images/linkedin.svg' %}" alt="linkedin logo"></li></a>
                  <a class="list-link" href="#"><li  class="list-item"><img src="{% static 'accounts/images/instagram.svg' %}" alt="instagram logo"></li></a>
               </ul>
               <div class="or">
                  <div class="line"></div>
                  <p class="or__text">OR</p>
                  <div class="line"></div>
               </div>
               <h4 class="text-center section-form__text-sub-title">Sign in with your email</h4>
            </div>
            <form>
            {% csrf_token %}
               <div class="form-group">
                  <label class="input-label" for="email">Email Address</label>
                  <div class="input-container">
                     <input class="input-field" type="email" name="email" placeholder="Someone@gmail.com" id="email">
                     <img class="input-icon" src="{% static 'accounts/images/mail.svg' %}" alt="mail icon">
                  </div>
               </div>
               <div class="form-group">
                  <label class="input-label" for="psw1">Password</label>
                  <div class="input-container">
                     <input class="input-field" type="password" name="psw1" placeholder="**************" id="psw1">
                     <img class="input-icon" src="{% static 'accounts/images/password.svg' %}" alt="password icon">
                  </div>
               </div>
               <div class="btn-submit-container">
                  <button class="btn btn-submit font-weight-bold" type="submit" id="submit">Log In</button>
               </div>
            </form>
            <p class="text-center form__alternative-text">Don't have an account? <a class="link font-weight-bold" href="#">Sign Up</a></p>
         </div>
      </section>
   </div>
</body>
</html>