:root {
   --primary-color: #FF3737;
   --secondary-color: ;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato', sans-serif !important;
}


.logo-img {
   max-width: 80%;
}

/* Utility classes */
.text-center {
   text-align: center;
}

.text-right {
   text-align: right;
}

.btn {
   text-decoration: none;
   color: #fff;
   border-radius: 99999px;
   border: none;
   font-family: inherit;
   display: inline-block;
   padding: 10px 20px;
}

.btn-tour {
   border: 2px solid var(--primary-color);
   color: var(--primary-color);
}

.font-weight-bold {
   font-weight: bold;
}

.list-unstyled {
   margin-top: 25px;
   list-style-type: none;
}

.d-flex {
   display: flex;
}

.justify-content-center {
   justify-content: center;
}

.heading__title {
   color: #fff;
   font-size: 35px;
   padding: 20px 0;
}

.heading__sub-title {
   font-size: 20px;
   color: #fff;
}

.section-form {
   background-color: #fff;
   color: #000;
   min-height: 100vh;
}

.section-form__text-title {
   color: #5FAD7A;
   font-size: 30px;
}

.section-form__text-sub-title {
   margin-top: 6px;
   font-size: 18px;
   font-weight: normal;
   color: #BCBCBC;
   font-size: 15px;
}

.section-form {
   padding-top: 1.5rem;
}

.custom-container {
   max-width: 800px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}


.section-form__container {
   max-width: 350px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.or {
   align-items: center;
   color: #5FAD7A;
   display: flex;
   justify-content: center;
   padding: 25px 0;
}

.or__text {
   padding: 0 15px;
}


.line {
   width: 100px;
   height: 1.5px;
   background-color:  #5FAD7A;
}



.section-form__text {
   padding: 30px 0;
}

.form-group {
   margin-bottom: 12px;
}

.input-container {
   position: relative;
}

.input-label {
   display: block;
   margin-bottom: 5px;
}

.input-label,
.input-field::placeholder {
  font-family: inherit;
}

.input-field::placeholder {
   color: #BCBCBC;
 }

.input-field {
   width: 100%;
   background: #F4FFFA;
   border-radius: 3px;
   border: none;
   border: 1.5px solid #EFEFEF;
   padding: 10px 40px;
}


.input-icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 20px;
   width: 20px;
   left: 3%;
}


.btn-submit-container {
   margin-top: 30px;
}

.btn-submit {
   width: 100%;
   background-color: var(--primary-color);
   cursor: pointer;
}

.form__alternative-text {
   font-size: 13px;
   margin: 8px 0;
}

.link {
   color: var(--primary-color);
   text-decoration: none;
}

.list-link:not(:last-child) {
   margin-right: 10px;
}

.list-item {
   align-items: center;
   background-color: #fff;
   box-shadow: 2px 3px 6px rgba(209, 203, 203, 0.3);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   height: 33px;
   width: 33px;
}

.list-item img{
   width: 16px;
   height: 16px;
}

@media (max-width: 768px) {
   
   .d-none {
      display: none;
   }

   .mobile-nav {
      padding-bottom: 20px;
      align-items: center;
      display: flex;
      justify-content: space-between;
   }
   
   .mobile-nav .logo {
      width: 120px;
   }
   .logo-img {
      margin-top: 10px;
   }

}


@media (min-width: 768px) {

   .d-none-md {
      display: none;
   }

   .wrapper {
      display: grid;
      grid-template-columns: 65% 35%;
   }

   .section-hero::after {
      background-color: rgba(41, 202, 125, 0.75);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }

   .section-hero__content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 95vh;
      position: relative;
      z-index: 2;
   }

}



@media (min-width: 1000px) {

   .section-hero__content {
      left: 50%;
      transform: translateX(-50%);
   }

} 
