:root {
   --primary-color: #1561AD;
   --secondary-color: ;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato', sans-serif !important;
}

/* Utility classes */
.text-center {
   text-align: center;
}

.text-right {
   text-align: right;
}


.btn {
   text-decoration: none;
   color: #fff;
   border-radius: 99999px;
   border: none;
   display: inline-block;
   padding: 10px 20px;
}

.btn-tour {
   background-color: var(--primary-color);
   border: 2px solid #fff;
}

.list-unstyled {
   margin-top: 30px;
   list-style-type: none;
}

.d-flex {
   display: flex;
}

.justify-content-center {
   justify-content: center;
}

.heading__title {
   color: var(--primary-color);
}

.heading__sub-title {
   color: #C5CFD6;
}

.section-form {
   background-color: var(--primary-color);
   color: #fff;
   min-height: 100vh;
}

.section-form__text-title {
}

.section-form__text-sub-title {
   margin-top: 8px;
   font-size: 18px;
   font-weight: normal;
}

.section-hero,
.section-form {
   padding-top: 2rem;
}

.custom-container {
   max-width: 800px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}


.section-form__container {
   max-width: 350px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.section-form__text {
   padding: 30px 0;
}

.form-group {
   margin-bottom: 12px;
}

.input-container {
   position: relative;
}

.input-label {
   display: block;
   margin-bottom: 5px;
}

.input-label,
.input-field::placeholder {
  color: rgba(255, 255, 255, 0.58);
  font-family: inherit;
}

.input-field {
   width: 100%;
   height: 45px;
   background-color: #0F4479;
   color: rgba(255, 255, 255, 0.58);
   border: none;
   padding-left: 40px;
}


.input-icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 20px;
   width: 20px;
   left: 3%;
}


.btn-submit-container {
   margin-top: 30px;
}

.btn-submit {
   width: 100%;
   background-color: #FC5226;
   cursor: pointer;
}

.form__alternative-text {
   margin-top: 15px;
}

.login-link {
   color: #FD8667;
   text-decoration: none;
}

.list-item {
   padding-right: 10px;
}

@media (max-width: 768px) {
   
   .d-none {
      display: none;
   }

}


@media (min-width: 768px) {
   
   .wrapper {
      display: grid;
      grid-template-columns: 65% 35%;
   }
   
   .section-hero {
      position: relative;
      background: url('../images/Home.svg') no-repeat 25% 80% / 60%;
   }

   .section-hero__content {
      position: absolute;
      left: 20%;
      bottom: 20%;
   }

}



@media (min-width: 1000px) {

   .section-hero__content {
      left: 50%;
      transform: translateX(-50%);
   }

} 

.error-alert{
   background-color:#DC143C;
   margin-top:10px;
   border-radius:4px;
   text-align:center;
   padding:10;
   line-height:25px
}

.success-alert{
   background-color:green;
   margin-top:10px;
   border-radius:4px;
   text-align:center;
   padding:10;
   line-height:25px
}
